/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.x{
  background-color: blue;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.state, .state-EXPIRED, .state-ERROR, .state-WARNING, .state-DEGRADED, .state-OK, .state-RUNNING{
      width: 20px;
      height: 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: orangered;
    }

.state-ERROR {
      background: red;
    }
.state-WARNING {
      background: #FFDD33;
    }

  .state-DEGRADED {
      background: orangered;
    }

.state-OK  {
      background: seagreen;
    }
.state-RUNNING {
      background: seagreen;
    }


/*
 * Main content
 */
.right {
    position: absolute;
    right: 20px;
}
.child-right {
  position: absolute;
  right : 40px
}
.deep-right{
  position: absolute;
  right : 60px
}
.left {
    position: absolute;
    left: 20px;
}

.main {
  padding: 20px;
  align-items: center;

}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;

}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
display: inline-block;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}