<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Custom styles for this template -->
<link href="dash.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Envs Dashboard</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<br>
<br>
    <!-- Page Content -->
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12" >
                <h1 class="page-header" style="left:10px;">Environments Status
                    <small> </small>
                </h1>
            </div>
        </div>
<div class="panel-group">

    <div class="panel panel-default">
        <div class="panel-heading " role="tab" id="headingOne" *ngFor="let env of Environments2">

            <div class="right state state-{{env.state}}" ></div>
            <h4 class="panel-title">
                <!--the env name item -->

                <a (click)="getStatusSummary(env.name);env.expanded = !env.expanded">{{env.name}} </a>

            </h4>
            <div id="collapse1" class="panel-collapse" [class.collapse]="!env.expanded" role="tabpanel" aria-labelledby="headingOne">

                <div class="panel-body">
                    <!--single machine data -->
                    <div *ngIf="env.summary">
                        <div class="panel-heading" *ngFor="let machine of env.summary">
                            <!-- machine status-->
            <div class="child-right state state-{{machine.status}}" ></div>

                            <h4 class="panel-title ">
                                <a data-toggle="collapse"  style="display: inline;outline: 0;" (click)=" getDetailedStatus(env.name, machine);machine.expanded = !machine.expanded;">Machine Name : {{machine.name}} 
            <!--{{nid=}} = {{machine.nid}}--> 
            gid = {{machine.gid}}
            nid = {{machine.nid}}
            level = {{machine.level}}
                </a>
                            </h4>
                            <div class="panel-body">

                                <div id="collapsech" class="accordion-body" [class.collapse]="!machine.expanded">
                                    <!--node status-->
                                    <div class="panel-heading" *ngFor="let category of machine.details">

                                        <h4 class="panel-title ">

                                            <div id="category-status" class="deep-right state state-{{category.status}}"></div>

                                            <!-- needs key to show and value to itrate -->
                                            <a data-toggle="collapse" (click)="category.expanded  = !category.expanded" href="#collapsend" style="display: inline; outline: 0;">
                                    {{category.name}}
        </a>
                                        </h4>
                                        <div class="panel-body">

                                            <div id="collapsend" [class.collapse]="!category.expanded" class="panel-collapse">
                                                <!-- cat status-->

                                                <li class="list-group-item" *ngFor="let data_item of category.data">
                                                    <div *ngIf="data_item" id="data_item.status" class="right state state-{{data_item.status}} "></div>
                                                    {{data_item.msg}} interval : {{data_item.interval}} last : {{data_item.last}}
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Machines of the env -->
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <!-- Machines of the env -->
        </div>
    </div>
</div>


<!-- the error env ends here !-->
<!-- Bootstrap core JavaScript 
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->




<!-- for loading data  we use 
<p>Loads later: {{item.lateLoader}} <span ng-bind="{{item.lateLoader}}"></span><i ng-hide="item.lateLoader"  class="icon icon-refresh icon-spin">loading image i don't have</i></p>
-->
